form
	fieldset
		legend Personnel Files

		table.table.files-table
			thead
				tr.extra-header
					th
					th
					th
					th.text-center(colspan="2") Permission
					th
				tr
					th(width="300") Section # - Description &nbsp; <a href="#">+ Add Section</a>
					th(colspan="2") Folder Description (Checklist)
					th Stf.
					th Mgr.
					th(width="42") File

			tbody
				// SECTION 1
				tr(valign="top")
					td.border-right-large(rowspan="3")
						strong Section 1
						| &nbsp; ( <a href="#">Edit</a> | <a href="#">x</a> )
						p <span class="text-primary">*</span> Employee data and pay status records including:

					td Check List for Personnel File
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox1")
						label(for="checkbox1")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox2")
						label(for="checkbox2")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Basic Employee Data
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox3")
						label(for="checkbox3")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox4")
						label(for="checkbox4")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Check List for Personnel File
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox5")
						label(for="checkbox5")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox6")
						label(for="checkbox6")
					td.border-left: button: img(src="./images/icon-file-upload.svg")


				// SECTION 2
				tr(valign="top")
					td.border-right-large
						strong Section 2
						| &nbsp; ( <a href="#">Edit</a> | <a href="#">x</a> )
						p <span class="text-primary">*</span> Employee status change

					td Employee Status Change Form
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox16")
						label(for="checkbox16")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox17")
						label(for="checkbox17")
					td.border-left: button: img(src="./images/icon-file-upload.svg")



				// SECTION 3
				tr(valign="top")
					td.border-right-large(rowspan="4")
						strong Section 3
						| &nbsp; ( <a href="#">Edit</a> | <a href="#">x</a> )
						p <span class="text-primary">*</span> Employment selection  process records

					td Job Description
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox7")
						label(for="checkbox7")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox8")
						label(for="checkbox8")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Resume
					td <a href="#" class="file-link">Resume&nbsp;-&nbsp;Elena.docx</a>
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox18")
						label(for="checkbox18")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox19")
						label(for="checkbox19")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Employment Application Form
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox9")
						label(for="checkbox9")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox10")
						label(for="checkbox10")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Employment Offer/Acceptance Letter
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox11")
						label(for="checkbox11")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox12")
						label(for="checkbox12")
					td.border-left: button: img(src="./images/icon-file-upload.svg")


				// SECTION 4
				tr(valign="top")
					td.border-right-large(rowspan="2")
						strong Section 4
						| &nbsp; ( <a href="#">Edit</a> | <a href="#">x</a> )
						p <span class="text-primary">*</span> Employee development records

					td Records of Training  Courses Completed
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox13")
						label(for="checkbox13")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox14")
						label(for="checkbox14")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Career Planning and Counselling Documents
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox20")
						label(for="checkbox20")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox21")
						label(for="checkbox21")
					td.border-left: button: img(src="./images/icon-file-upload.svg")


				// SECTION 5
				tr(valign="top")
					td.border-right-large(rowspan="9")
						strong Section 5
						| &nbsp; ( <a href="#">Edit</a> | <a href="#">x</a> )
						p Miscellaneous and separation records

					td Receipt for Employee Handbook
					td
					td.border-left.no-padding
						input(type="checkbox" id="checkbox15")
						label(for="checkbox15")
					td.border-left.no-padding
						input(type="checkbox" id="checkbox16")
						label(for="checkbox16")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Request for Leave of Absence
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox22")
						label(for="checkbox22")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox23")
						label(for="checkbox23")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Request for Vacation
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox24")
						label(for="checkbox24")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox25")
						label(for="checkbox25")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Any other agreements, acknowledgments and requests
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox26")
						label(for="checkbox26")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox27")
						label(for="checkbox27")
					td.border-left: button: img(src="./images/icon-file-upload.svg")

				tr
					td Attendance Records
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox28")
						label(for="checkbox28")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox29")
						label(for="checkbox29")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Voluntary resignation
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox30")
						label(for="checkbox30")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox31")
						label(for="checkbox31")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Exit Interview Form
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox32")
						label(for="checkbox32")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox33")
						label(for="checkbox33")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Separation Checklist
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox34")
						label(for="checkbox34")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox35")
						label(for="checkbox35")
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Challenges to Claims such as Unemployment Compensation
					td
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox36")
						label(for="checkbox36")
					td.border-left.no-padding
						input(type="checkbox" checked id="checkbox37")
						label(for="checkbox37")
					td.border-left: button: img(src="./images/icon-file-upload.svg")


hr

form
	fieldset
		legend Confidential Files

		table.table.files-table
			thead
				th(width="300") Section # - Description &nbsp; <a href="#">+ Add Section</a>
				th Folder Description (Checklist)
				th
				th(width="42") File

			tbody
				// SECTION 1
				tr(valign="top")
					td.border-right-large(rowspan="7")
						strong Section 1
						| &nbsp; ( <a href="#">Edit</a> | <a href="#">x</a> )
						p <span class="text-primary">*</span> General Confidential File

					td Interview Evaluation
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Pre-Employment Reference Check Form
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Credit Checks and Reports
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Employment Eligibility Verification Form (I-9)
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Dependent and Beneficiary Information
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Benefit Plan Choices
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Any Information Regarding Legal Actions
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")


				// SECTION 2
				tr(valign="top")
					td(rowspan="2").border-right-large
						strong Section 2
						| &nbsp; ( <a href="#">Edit</a> | <a href="#">x</a> )
						p <span class="text-primary">*</span> Covid Health Information

					td Employee Status Change Form
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")
				tr
					td Doctor Visits and Records
					td
					td.border-left: button: img(src="./images/icon-file-upload.svg")