header
	.row.collapse.align-middle
		.column
			h1 Employees
			nav(aria-label="You are here:" role="navigation")
				ul.breadcrumbs
					li: a(href="#") Home
					li
						span.show-for-sr Current:
						| Employees

		.column.shrink
			button.button.secondary.clear
				img(src="./images/icon-back.svg")
				| Back