header
	.row.collapse.align-middle
		.column
			h1 Settings
			nav(aria-label="You are here:" role="navigation")
				ul.breadcrumbs
					li: a(href="./dashboard.html") Home
					li
						span.show-for-sr Current:
						| Settings

		.column.shrink
			button.button.secondary.clear
				img(src="./images/icon-back.svg")
				| Back