extends _base

block vars
	- pagename = "Dashboard"

block content
	header
		.row.collapse.align-middle
			.column
				h1 Dashboard
				nav(aria-label="You are here:" role="navigation")
					ul.breadcrumbs
						li: a(href="#") &nbsp;

			.column.shrink
				button.button.secondary.clear
					img(src="./images/icon-posts.svg")
					| View Posts
				| |
				button.button.secondary.clear
					img(src="./images/icon-back.svg")
					| Log Off
	section.page-content