extends _base

block vars
	- pagename = "HR Policies & Forms"

block content
	header
		.row.collapse.align-middle
			.column
				h1 View Forms
				nav(aria-label="You are here:" role="navigation")
					ul.breadcrumbs
						li: a(href="./dashboard.html") Home
						li: a(href="./hr-policies-forms.html") HR Policies &amp; Forms
						li
							span.show-for-sr Current:
							| View &amp; Forms

			.column.shrink
				a.button.secondary.clear(href="./job-description--create-new.html")
					img(src="./images/icon-upload-square.svg")
					| Upload New Form
				| |
				a.button.secondary.clear(href="#" onClick="window.history.back()")
					img(src="./images/icon-back.svg")
					| Back

	section.page-content
		br
		.card.box
			.card-content
				h4 Expense Forms

			table.unstriped
				thead
					tr
						th Form Name
						th(width="50"): img(src="./images/icon-question-circle.svg", alt="")
						th Last&nbsp;Updated
						th.text-center Access
						th.text-center File&nbsp;Size
						th Edit
				tbody
					tr.striped
						td: a(href="#") 2015.02.27.docx
						td: img(src="./images/icon-question-circle.svg", alt="")
						td 2014-11-02
						td.text-center All Employees
						td.text-center 47kb
						td <a href="./hr-policies-forms--edit-form.html">Edit</a> | <a href="#">Delete</a>

