block vars
	- var pagename

doctype html
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="./css/app.css?v=0.0.1")

		title= (pagename ? pagename + ' | ' : '') +  'HRM'
		meta(name="description" content='HRM')

	body#login
		img.logo(src="./images/hrm-logo-transparent.png", alt="HRM Parners")
		.row.align-center.align-middle
			.column.small-4
				.card
					.card-divider
						h1 Sign in to HRM Web Portal
					.card-section
						form(action="")
							label
								input(type="text" name="username" placeholder="Username" required)
							label
								input(type="password" name="password" placeholder="Password" required)
							label
								input(type="text" name="company" placeholder="Company Code" required)

							button.button.large.expanded.gradient(type="submit") SUBMIT


		script(src='./js/app.min.js?v=0.0.1')