extends _base

block vars
	- pagename = "Settings"

block content
	header
		.row.collapse.align-middle
			.column
				h1 Ratings Definitions
				nav(aria-label="You are here:" role="navigation")
					ul.breadcrumbs
						li: a(href="./dashboard.html") Home
						li: a(href="./settings.html") Settings
						li
							span.show-for-sr Current:
							| Ratings Definitions

			.column.shrink
				a.button.secondary.clear
					img(src="./images/icon-posts.svg")
					| New Department
				| |
				a.button.secondary.clear(href="#" onClick="window.history.back()")
					img(src="./images/icon-back.svg")
					| Back

	section.page-content.settings-page
		br
		h3 <span>Nickname:</span> 4-Tier Rating
		.card.box
			.card-content
				.row
					.column: h4 Status: <span class="text-alert">Active</span>
					.column.shrink: button.button.hollow.secondary Edit
			table
				thead
					tr
						th Value
						th Code
						th Description
						th Explanation
				tbody
					tr
						td 4
						td &mdash;
						td Excellence
						td Beyond expectations
					tr
						td 3
						td &mdash;
						td Good
						td Meeting expectations
					tr
						td 2
						td &mdash;
						td Fair
						td Meeting expectations in some areas but not all
					tr
						td 1
						td &mdash;
						td Unsatisfactory
						td Not meeting expectations in most areas



		for i in new Array(3)
			hr(style="margin: 3em 0 2em;")
			h3 <span>Nickname:</span> 5 Scales (Basic) (from HRM)
			.card.box
				.card-content
					.row
						.column: h4 Status: <span class="text-alert">Active</span>
						.column.shrink: button.button.hollow.secondary Edit
				table
					thead
						tr
							th Value
							th Code
							th Description
							th Explanation
					tbody
						tr
							td 5
							td &mdash;
							td Exceptional
							td Performance far exceeded expectations due to exceptionally high quality of work performed in all essential areas of responsibility, resulting in an overall quality of work that was superior.
						tr
							td 4
							td &mdash;
							td Exceeds expectations
							td Performance consistently exceeded expectations in all essential areas of responsibility, and the quality of work overall was excellent.
						tr
							td 3
							td &mdash;
							td Meets Expectations
							td Performance consistently met expectations in all essential areas of responsibility, at times possibly exceeding expectations, and the quality of work overall was very good.
						tr
							td 2
							td &mdash;
							td Improvement Needed
							td Performance did not consistently meet expectations – performance failed to meet expectations in one or more essential areas of responsibility. A professional development plan to improve performance must be outlined.
						tr
							td 1
							td &mdash;
							td Unsatisfactory
							td Performance was consistently below expectations in most essential areas of responsibility. Significant improvement is needed in one or more important areas.
