
body {
	padding: 10px;
}

main {
	max-width: 1000px !important;
	min-width: 1000px !important;
}





section.content {
	background-color: $white;
	padding-left: 0;
	padding-right: 0;
}

section.page-content, section.filters {
	padding-left: $global-padding;
	padding-right: $global-padding;
}

section.page-content {
	min-height: 660px;
}

header {
	@extend .gradient-light;
	color: $dark-gray;
	padding: 1em 2em;

	.breadcrumbs {
		margin-bottom: 0;
	}

	.button {
		margin-bottom: 0;
		font-weight: 500;
	}
}




.top-stripe {
	@extend .gradient-blue;
	display: block;
	height: 10px;
	width: 100%;
}



.gradient-blue {
	background-image: linear-gradient(to bottom, #7DC4D9, darken(#7DC4D9, 10%))
}

.gradient-light {
	background-image: linear-gradient(to bottom, $white 50% , rgba(#9EB3C2, 0.2));
}


.callout {
	border: 3px solid $white;
	outline: 1px solid #D3E1E2;
}

/* SETTINGS PAGE */

.settings-page {
	.fieldset {
		legend {
			font-size: 18px;

			img {
				height: 22px;
				width: 22px;
				margin-right: 0.5em;
			}
		}
	}
	.menu {
		font-size: 16px;
	}
}