h1 {
	font-weight: 600;
	color: $black;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	color: $black;

	span {
		font-weight: 400;
	}
}

h4 {
	font-size: 18px;
	color: $black;
	margin-bottom: 0.25em;
}

h6 {
	font-weight: 600;
}



hr {
	&.double {
		border-top: 2px solid #E9EAED;
		border-bottom: 2px solid #fff;
		&:after {
			content: "";
			display: block;
			margin-top: 1px;
			border-bottom: 2px solid #E9EAED;
		}
	}

	&.big, &.large {
		border-bottom: 3px solid #9EB3C2;
	}

	&.dotted {
		border-top: 1px dashed #D3E1E2;
		border-bottom: 0;
	}

	&.signature {
		border-bottom: 1px solid $black;
	}
}

.text-primary {
	color: $primary-color;
}

.text-alert {
	color: $alert-color;
}

.text-underline {
	text-decoration: underline;
}

.text-muted {
	color: $dark-gray;
}




.accordion-title {
	font-weight: 500;
}
.accordion-title:before {
	margin-top: -0.7rem;
}
.is-active > .accordion-title:before {
	margin-top: -0.3rem;
}